// //Reset
@import 'reset/normalize'

// importing blocks
@import "base/base"
@import "blocks/header/header"
@import "blocks/top-elements/top-elements"
@import "blocks/sub-menu/sub-menu"
@import "blocks/big-picture/big-picture"
@import "blocks/filter/filter.styl"