.header-container
  .row.col-12
    a.header-container__logo.col-12.col-sm-6.col-md-8.col-xl-9(href='/' title='InstantCar')
      img(src='/assets/images/Logo.svg' alt='InstantCar')

    .header-container__phone.col-12.col-sm-6.col-md-4.col-xl-3
      .header-container__phone-title
        nobr
        | Costless Service Hotline:
        br
        a(href='tel:+41234567890') 41234567890

