.header-container
  a.header-container__logo(href='/')
    img(src='/assets/images/instamotion.png')

  a.header-container__phone(href='tel:+41234567890') 41234567890
  .header-container__menu
    ul
      li Garantie
      li Contacts


