.sub-menu
	display flex
	flex-flow row
	background: #e9e9f0
	&-item
		height: 100px
		text-align center
		padding 16px
		color: #333333
		text-decoration none
		i
			display block
			font-size: 32px
			color #20ad90
			padding 16px
