nav.sub-menu
  a.sub-menu-item(href='#')
    i.fa.fa-car(aria-hidden="true")
    | Sicher kaufen per Mausklick
  a.sub-menu-item(href='#')
    i.fa.fa-car(aria-hidden="true")
    | Nur zertifizierte Gebrauchtwagen
  a.sub-menu-item(href='#')
    i.fa.fa-car(aria-hidden="true")
    | Nur Lieferung direkt vor die Haustür
  a.sub-menu-item(href='#')
    i.fa.fa-car(aria-hidden="true")
    | Ein Jahr Garantie und neuer TÜV
  a.sub-menu-item(href='#')
    i.fa.fa-car(aria-hidden="true")
    | 14 Tage Umtauschrecht