section.big-picture
  .big-picture-title
    | #InstaMotions
  .big-picture-text
    | Endlich Gebrauchtwagenkauf mit gutem Gefühl.
    br
    | Die besten Marken und alle mit Garantie. Geprüft. Geklickt. Geliefert
  a.big-picture-button(href='/search') Search