include top-elements-item
.top-elements
  +topElementsItem('https://www.instamotion.com/auto/WE1XX', 'Opel Meriva B drive', 'https://cdn-sa.instamotion.com/media/image/8a/74/19/free586d1922031d9.jpg', 'Opel Meriva B', 'Benzin', '103 kW (140 PS)', '23.316 km', '3/2016', '13.463 €', 'ab 145 €/Monat')

  +topElementsItem('https://www.instamotion.com/auto/WE1XX', 'Opel Meriva B drive', 'https://cdn-sa.instamotion.com/media/image/8a/74/19/free586d1922031d9.jpg', 'Opel Meriva B', 'Benzin', '103 kW (140 PS)', '23.316 km', '3/2016', '13.463 €', 'ab 145 €/Monat')

  +topElementsItem('https://www.instamotion.com/auto/WE1XX', 'Opel Meriva B drive', 'https://cdn-sa.instamotion.com/media/image/8a/74/19/free586d1922031d9.jpg', 'Opel Meriva B', 'Benzin', '103 kW (140 PS)', '23.316 km', '3/2016', '13.463 €', 'ab 145 €/Monat')

  +topElementsItem('https://www.instamotion.com/auto/WE1XX', 'Opel Meriva B drive', 'https://cdn-sa.instamotion.com/media/image/8a/74/19/free586d1922031d9.jpg', 'Opel Meriva B', 'Benzin', '103 kW (140 PS)', '23.316 km', '3/2016', '13.463 €', 'ab 145 €/Monat')