section.big-picture
  .big-picture-title
    | #InstantCar
  .big-picture-text
    | Enjoy our service.
    br
    | Best service for buying used cars in Germany
  a.big-picture-button(href='/search') Enjoy