section.big-picture
  .big-picture-title
    | ПРОДАЖА СТАРТЕРОВ И ГЕНЕРАТОРОВ
  .big-picture-text
    | Enjoy our service.
    br
    | Best service for buying used cars in Germany
  a.big-picture-button(href='/search') Enjoy