.big-picture
	height 583px
	background url("/assets/images/mainpage-intro.jpg") no-repeat center
	background-size cover
	text-align center
	&-title
		color: #fff;
		font-size: 50px;
		padding-top: 100px;
		margin-bottom: 20px;
		font-weight: 600;
		width: 100%;
		text-align: center;
	&-text
		color: #fff;
		font-size: 20px;
		margin-bottom: 40px;
		width: 100%;
		text-align: center;
		line-height: 26px;
	&-button
		display inline-block
		border-radius: 5px;
		padding 10px 20px
		margin: 0 auto;
		color: #fff;
		background: #ffb400;
		border: 1px solid #ffb400;
		transition 0.2s all ease
		&:hover
			background: lighten(#ffb400, 10%);
			color: #fff;
			text-decoration none
